# Zola
docs/public/
docs/resources/

# Rust
**/target/
**/*.rs.bk
rustfmt.toml

# OS
**/.DS_Store
**/Thumbs.db
**/ehthumbs.db
**/desktop.ini

# Editors
**/.vscode/
**/.idea/
**/*.swp
**/*.swo
